# Alias definitions

alias aginstall='sudo apt install'
alias agremove='sudo apt remove'
alias agpurge='sudo apt purge'
alias agupdate='sudo apt update'
alias agupgrade='sudo apt upgrade'
alias agautoremove='sudo apt autoremove'
alias agautoclean='sudo apt autoclean'

alias py='python'
alias ipy='ipython'
alias py3='python3'
alias ipy3='ipython3'

alias zsh-colors='for code ({000..255}) print -P -- "$code: %F{$code}This is how your text would look like%f"'
# Show history
# Timestamp format
case $HIST_STAMPS in
  "mm/dd/yyyy") alias history='fc -fl 1' ;;
  "dd.mm.yyyy") alias history='fc -El 1' ;;
  "yyyy-mm-dd") alias history='fc -il 1' ;;
  *) alias history='fc -l 1' ;;
  "mm/dd/yyyy") alias history='omz_history -f' ;;
  "dd.mm.yyyy") alias history='omz_history -E' ;;
  "yyyy-mm-dd") alias history='omz_history -i' ;;
  *) alias history='omz_history' ;;
esac

alias mkvirtualenv3.7='mkvirtualenv -p /usr/bin/python3.7'
alias git=hub
alias vim=nvim
alias gpg='gpg2'
